<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll dice</title>
</head>
<body>
    <h1>Dice gave value:  <%= diceVal %> </h1>

    <!-- //adding condition inside ejs -->

    <% if(diceVal==6){ %>      <!-- <% iske andar wala part js ka h and niche wala h2 plain html -->
        <h2>Nice! Roll dice again</h2>
    
    <% } %>

</body>
</html>